* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    box-shadow: 10px 2px 10px rgb(16, 67, 177);
}

body {
    background-color: aliceblue;
}


#field-forms {
    padding: 10px;
    /* box-shadow: 5px 5px rgb(51, 22, 22); */
}

input {
    /* bor */
}

/* #form-check {
    display: inline-block; 
    border: 1px solid black;   
} */