body {
  font-size: large;
  margin: 25px;
}
h1 {
  font-size: larger;
}
h2 {
  display: flex;
  flex-direction: column;
}

img {
    max-width: 100%;
    margin-bottom: 30px;
}

figure {
    margin: 0;
}

@media screen and (max-width: 650px) {
  body {
    background-color: blue; 
    font-size: medium;
    margin: 15px;
  }

  figure {
    display: flex;
    /* flex-direction: column;  */
    flex-wrap: wrap;
    flex-basis: auto;
    /* flex-grow: 0; */
  } 

  figure h2 {
    display: flex;
    flex-basis: 100%;
  }
  figure img {
    max-width: 50%;
    margin-bottom: 30px;
    width: 150px;
    height: 152px;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-basis: 25%;
  }
  figure figcaption {
    flex-basis: 100%;
    flex-direction: column;
  }
  /* img:nth-child(-n+2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */

}